<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar convidado e presente</title>
</head>
<body>    
    <mat-card-title>Confirmar Presença + presente</mat-card-title>
    <mat-card>       
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nome</mat-label>
              
              <input matInput 
              [formControl]="nome"
              [(ngModel)]="presente.nome"
              name="nome">
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Presente</mat-label>
              <textarea matInput 
              [formControl]="descricaoPresente"
              [(ngModel)]="presente.descricaoPresente"
              name="descricaoPresente"></textarea>
            </mat-form-field>
          </form>

          <button (click)="create()" mat-raised-button>Incluir</button>
          <button mat-raised-button routerLink="/">Voltar</button>
    </mat-card>
</body>
</html>