
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convite de Chá de Bebe</title>
</head>
<body>
   <header>
       <img src="../../../assets/img/cegonha.PNG">
       <img src="../../../assets/img/estamosAnciosos.PNG">
   </header>
   <main>
    <img src="../../../assets/img/vamosDescobrir.PNG">
    <img src="../../../assets/img/rebecaMiguel.PNG">
    <!--<a target="_blank" href="https://wa.me/5511962572205?text=Olá! Confirmo a minha presença!">
        <img class="confirmaPresenca" src="../../../assets/img/confirmarPresença.PNG">
    </a>
-->

    <img class="confirmaPresenca" src="../../../assets/img/confirmarPresença.PNG" routerLink="create-presente">

    <img class="presentes" src="../../../assets/img/presentes.PNG" routerLink="presentes">
   </main>
   <footer>
       <p>Sábado | 05.03.2022 | 14:00</p>
    </footer>
</body>
</html>
